spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: patient-service-route
          uri: lb://patient-service
          predicates:
            - Path=/api/patients/**,/api/patients
          filters:
            - RewritePath=/api/(?<segment>.*),/$\{segment}

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

server:
  port: 4004
